/*
 * -------------------------------------------------
 *  Nextflow config file for running workflow with VEP
 * -------------------------------------------------
 * Defines parmeters required to run pipeline with VEP and conda:
 *   nextflow run main.nf --vcf <input> -profile ApiParameters
 * Created for REST API end points of CLinVAP
 */

params {
  config_profile_name = 'Parameters profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 1.GB
  max_time = 48.h
  skip_vep = false
}
